<ul>
  <% @menu.each do |item| %>
    <li>
      <%= link_to item, item.link %>
      <ul>
        <% item.subpages.each do |subpage| %>
        <li><%= link_to subpage, "#{item.link}?id=#{subpage.id}" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
