default: &default
  adapter: postgresql
  encoding: unicode

development:
  <<: *default
  database: ingate-sitemap-development

test:
  <<: *default
  database: ingate-sitemap-test

production:
  <<: *default
  database: ingate-sitemap-production
